{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-3 order-lg-second" id="sidebar">
            <div class="col">
                <h2 class="text-capitalize">tags</h2>
                {%for tag,articles in tags%}
                <a class="btn btn-sm btn-outline-dark text-nowrap shadow-sm my-1" href="{{ SITEURL }}/{{tag.url}}">{{tag}} <span class="badge badge-dark">{{articles|count}}</span> </a>
                {%endfor%}
            </div>
            <div class="col">
                <canvas id="radar-map">
                    <p>radar-map test</p>
                </canvas>
            </div>
        </div>

        <div class="col-12 col-lg-9 order-lg-first" id="recent-posts">
            <h2 class="col-12">Recent Posts</h2>
            <div class="card-group">
                {%for article in dates_page.object_list %}{%if loop.index<=3%}
                <div class="card" style="min-width:33%">
                    <div class="card-body">
                        <h3 class="card-title"><a class="stretched-link text-reset text-capitalize" href="{{article.url }}">{{article.title}}</a></h3>
                        <p class="card-text">{{article.summary}}</p>
                    </div>
                    <div class="card-footer"><small class="text-muted">{{article.locale_date}}</small></div>
                </div>
                {%endif%}{%endfor%}
            </div>
        </div>
    </div><!-- /.row -->

    <!-- {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %} -->

{% endblock content %}
