{% extends "base.html" %}

{% block content %}

<h1 class="text-center">Hi  看点什么?</h1>

<!-- <div class="" id="ball" style="height:500px;width:100%;"></div> -->
<div class='row' id='ball-wrapper' style='display:flex;justify-content:center'>
    <div id='ball'>
        {% for article in articles %}
            <a class="ball-element d-none" href="/{{article.url}}" title="{{ article.title }}"></a>
        {% endfor %}
    </div>
</div>

<ul class="row" id="timeline">
    {% for article in dates_page.object_list %}
    <li class="row col-12 mt-1">

        {%if (loop.index%2) %}
        <div class="col-11 col-lg-5">
            <div class="card text-center mb-5">
                <p class="d-block d-lg-none card-header">{{article.locale_date}}</p>
                <div class="card-body">
                    <h2 class="card-title text-uppercase"><a class="text-reset" href="{{ article.url }}">
                            {{article.title}}</a></h2>
                    {%if article.summary%}<p class="card-text">{{article.summary}}</p>{%endif%}
                </div>
            </div>
        </div>
        <div class="d-none d-sm-flex col-1 col-lg-2" style="display:flex;justify-content:center;">
            <div class="timeline">&#x1F789</div>
        </div>
        <p class="col-5 d-none d-lg-block text-left text-muted">{{article.locale_date}}</p>
        {%else%}
        <p class="col-5 d-none d-lg-block order-lg-1 text-left text-lg-right text-muted">{{article.locale_date}}</p>
        <div class="d-none d-sm-flex col-1 col-lg-2 order-2" style="display:flex;justify-content:center;">
            <div class="timeline">&#x1F789</div>
        </div>
        <div class="col-11 col-lg-5 order-lg-3">
            <div class="card text-center mb-5">
                <p class="d-block d-lg-none card-header">{{article.locale_date}}</p>
                <div class="card-body">
                    <h2 class="card-title text-uppercase"><a class="text-reset" href="{{ article.url }}">
                            {{article.title}}</a></h2>
                    {%if article.summary%}<p class="card-text">{{article.summary}}</p>{%endif%}
                </div>
            </div>
        </div>
        {%endif%}
    </li>
    {% endfor %}
</ul>

{% endblock content %}


<!-- {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %} -->