{% extends "proto-index.html" %}

{% block title %}{{ SITENAME }} - {{ tag }} tag{% endblock %}

{% block content %}

<ul class="list-group list-group-flush col-lg-8 offset-lg-2 text-center">
    <h1 class="display-4 text-capitalize">{{tag}}</h1>

    {%for article in articles%}
    <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
        <a href={{SITEURL}}/{{article.url}} class="text-reset stretched-link">{{article.title}}</a>
        <small class="text-muted">{{article.locale_date}}</small>
    </li>
    {%endfor%}

</ul>

{% endblock %}